doctype html
html
  head
    meta(charset='utf-8')
    title MapleTree
    meta(name='description', content='学生フロントエンドエンジニア＆Webデザイナー、堂寺志門（メープルもみじ）のポートフォリオサイト。')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    <meta name="keywords" content="Dorashimon,MapleTree,メープルもみじ,堂寺,堂寺志門,Shimon,Shimon Dotera,メープル,もみじ,Web,フロントエンドエンジニア,ホームページ制作,Webサイト制作,ボイパ,Webデザイン">
    <meta name="author" content="Shimon Dotera">
    <meta name="generator" content="SublimeText">

    //- <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="MapleTree" />
    <meta property="og:title" content="MapleTree" />
    <meta property="og:description" content="学生フロントエンドエンジニア＆Webデザイナー、堂寺志門（メープルもみじ）のポートフォリオサイト。" />
    <meta property="og:url" content="http://dorashimon.com/" />
    //- <!-- // OGP  -->
    //- <!-- twitter-card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@robibon1">
    
    //- <!-- ファビコン -->
    link(rel="shortcut icon" href="images/favicon.ico")
    link(rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png")

    link(rel='stylesheet', href='styles/app.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.9/css/all.css' integrity='sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1' crossorigin='anonymous')
  body(ontouchstart="")
    header.l-header
      .l-header__inner
        nav.l-header__inner__siteNav
          ul.l-header__inner__siteNav__list
            include includes/_headerNavArray
            each val in navArray
              li.l-header__inner__siteNav__list__item
                a(href='#' + val)
                  h2=val
                  .isActive
        ul.l-header__inner__shareLinks
          include includes/_sharelinks
          each val in sns
            if val.name !== 'line'
              li.l-header__inner__shareLinks__item
                a(href=val.link)
                  i(class=`fab fa-${val.name}`)

    header.l-header-mobile#menu
      p.l-header-mobile__text Menu
      i.l-header-mobile__icon.fas.fa-bars
    .l-header-mobile__opened#menuContents
      i.l-header-mobile__opened__close.fas.fa-times#close
      ul.l-header-mobile__opened__nav
        include includes/_headerNavArray
        each val in navArray
          li.l-header-mobile__opened__nav__item
            if val == 'Lab'
              a(href='http://dorashimon.com/works/MapleLab/')
                h2=val
            else
              a(href='#' + val)
                h2=val
      ul.l-header-mobile__opened__share
        include includes/_sharelinks
          each val in sns
            li.l-header-mobile__opened__share__item
              a(href=val.link)
                i(class=`fab fa-${val.name}`)

    section.l-first-view#Top
      .l-first-view__inner
        .l-first-view__inner__siteTitle
          h1 MapleTree
          h2 Shimon Dotera's SITE
        .l-first-view__inner__downArrow
          p Scroll Down
          i(class='fas fa-sort-down')
    //- aboutSection 
    section.l-about#About
      .l-container
        h1.l-container__title About &gt; me
        .l-about__intro
          img(src="images/my-icon.png").l-about__intro__icon
          h3.l-about__intro__name Shimon Dotera
          .l-about__intro__text
            p Hello World!  
            p I’m a Front-end Developer.
            p Let me introduce myself using…
        ul.l-about__btns
          include includes/_aboutBtns
          each item in btnItem
            li(id=item.name+'Btn' class=item.isActive ? 'btnActive' : '').l-about__btns__item
              img.l-about__btns__item__image(src=item.image_url)
              .l-about__btns__item__triangle
        .l-about__text-area
          include includes/_aboutProfileItem
          include includes/_aboutProfileTextList

        ul.l-about__text-mobile
          include includes/_aboutProfileItem
          each item,key in profileItem
            li.l-about__text-mobile__item #{key} : #{item}
        ul.l-about__icons-mobile
          include includes/_aboutBtns
          each item in btnItem
            li(class=item.name).l-about__icons-mobile__item
              img.l-about__icons-mobile__item__image(src=item.image_url)

    section.l-works#Works
      .l-container
        h1.l-container__title My &gt; Works
        p.l-container__subText 今までの制作物一覧。最新順。
        ul.l-works__list
          include includes/_workItem
          each item in worksList
            li.l-works__list__item
              if item.name
                .l-works__list__item__inner
                  a(href=item.linkUrl).l-works__list__item__inner__linkBox
                    p Open this site
                  img.l-works__list__item__inner__imgArea(src=`images/${item.imageUrl}`)
                  .l-works__list__item__inner__textArea
                    h2=item.name
                    p=item.text
                    .l-works__list__item__inner__textArea__tag
                      each val in item.tag
                        span=val
                   
    section.l-lab#Lab
      .l-container
        h1.l-container__title Maple Lab.
        .l-container__subText
          p どっかで見たことあるWebデザイン集。ここのデザインなら実装できます。デザインカタログ的な。
        .l-lab__treeArea
          .l-lab__treeArea__line
          .l-lab__treeArea__points
            include includes/_labItem
            each item in labItem
              .l-lab__treeArea__points__item
                if item.imageUrl
                  .l-lab__treeArea__points__item__branch(class=item.isRight ? 'isRight' : '')
                  a.l-lab__treeArea__points__item__image(href=item.linkUrl class=item.isRight ? 'isRight' : '')
                    img(src=`images/${item.imageUrl}`)
                    .l-lab__treeArea__points__item__image__caption Open This Design
          .l-lab__treeArea__dots
          .l-lab__treeArea__dots
          .l-lab__treeArea__dots
        .l-lab__btnArea
          a(href='http://dorashimon.com/works/MapleLab/').l-lab__btnArea__btn More

    section.l-contact#Contact
      .l-container
        h1.l-container__title Contact &gt; me
        .l-container__subText
          p 以下のSNSで活動中。Twitter出没率が高め。
        ul.l-contact__sns
          include includes/_contactItem
          each item in snsItem
            li.l-contact__sns__item
              a(href=item.linkUrl target='_blank')
                if item.fontName
                  i(class=`fab fa-${item.fontName}` style=`color:${item.color};`)
                else
                  img(src=`images/${item.image}`)

    section.l-footer
      .l-footer__copyrights
        p copyrights 2017-2018 MapleMomiji.All Rights Reserved.

    script(src='https://code.jquery.com/jquery-1.12.4.min.js' integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=' crossorigin='anonymous')
    script(src='scripts/main.js')
