//- html
.l-about__text-area__item#htmlText.textActive
  p &lt;div class='profile'&gt;
  ul.l-about__text-area__list.mL25
    each val,key in profileItem
      li.l-about__text-area__list__item &lt;div class='#{key}'&gt;#{val}&lt;/div&gt;
  p &lt;/div&gt;

//- pug
.l-about__text-area__item#pugText
  p .profile
  ul.l-about__text-area__list.mL25
    each val,key in profileItem
      li.l-about__text-area__list__item .#{key} #{val}

//- css
.l-about__text-area__item#cssText
  p .profile {
  ul.l-about__text-area__list.mL25
    each val,key in profileItem
      li.l-about__text-area__list__item #{key}:  '#{val}';
  p }

//- scss
.l-about__text-area__item#sassText
  p $profile: {
  ul.l-about__text-area__list.mL20
    each val,key in profileItem
      if key === 'specialty'
        li.l-about__text-area__list__item #{key}: '#{val}'
      else
        li.l-about__text-area__list__item #{key}: '#{val}',
  p };
  p @each $key, $val in $profile {
  p.mL20 .\#{$key} {
  p.mL25 content: $val;
  p.mL20 }
  p }

//- jquery
.l-about__text-area__item#jqueryText
  p $(‘#jquerBtn’).click(function(){
  p.mL25 const profile = {
  ul.l-about__text-area__list.mL40
    each val,key in profileItem
      if key === 'specialty'
        li.l-about__text-area__list__item #{key}: '#{val}'
      else
        li.l-about__text-area__list__item #{key}: '#{val}',
  p.mL25 }
  p.mL25 $('#textArea').append(profile)
  p }

//- react
.l-about__text-area__item#reactText
  p render() {
  p.mL20 return (
  p.mL30 &lt;div&gt;
  ul.l-about__text-area__list.mL50
    each val,key in profileItem
      li.l-about__text-area__list__item &lt;#{key}&gt;#{val}&lt;/#{key}&gt;
  p.mL30 &lt;/div&gt;
  p.mL20 )
  p }
